<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hades</title>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body class="noselect">
    <div id="appContainer">
      <div id="menu">
        <div id="menuHeader"></div>
        <div id="menuBody">
          <div>
            <h1>Title</h1>
          </div>
          <div>
            <label>
              <input id="inName" type="text" placeholder="Nickname"/>
            </label>
          </div>
          <div>
            <button id="btnPlay" type="button">Play</button>
          </div>
        </div>
        <div id="menuFooter"></div>
      </div>
    </div>
  </body>
</html>